@model Json_Crud_MVC.Models.student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $("#btnupdate").hide();
            $("#btndelete").hide();
            $("#btnsubmit").show();

            DisplayStudents();
            $("#btnsubmit").click(function () {
                AddStudent();
            })

            $("#btnupdate").click(function () {
                UpdateStudent();
            })
            $("#btndelete").click(function () {
                DeleteStudent();
            })
        })
        function DisplayStudents() {
            $.ajax({
                url: 'https://localhost:44310/StudentJson/GetStudents',
                method: 'get',
                contextType: 'application/json',
                success: function (resp) {
                    console.log(resp);

                    $("#tbldata").empty();
                    $.each(resp, function (i, d) {
                        $("#tbldata").append("<tr><td>" + d.id + "</td><td>" + d.name + "</td><td>" + d.english + "</td><td>" + d.math + "</td><td><input type='button' value='View' onclick='ViewStudent("+d.id+")' />  </td></tr>")
                    })

                    

                   

                }
            })
        }

        function AddStudent() {
            var sname = $("#txtname").val();
            var e = $("#txteng").val();
            var m = $("#txtmath").val();
            var st = { "name": sname, "english": e, "math": m };
            $.ajax({
                url: '/StudentJson/AddStudent',
                method: 'post',
                data: JSON.stringify(st),
                contentType: 'application/json',
                success: function (resp) {
                    alert(resp);
                    DisplayStudents();
                    ClearData();
                }
            })
        }
        function UpdateStudent() {
            
            var r = $("#txtid").val();
            var sname = $("#txtname").val();
            var e = $("#txteng").val();
            var m = $("#txtmath").val();
            var st = {"id":r, "name": sname, "english": e, "math": m };
            $.ajax({
                url: '/StudentJson/UpdateStudent',
                method: 'post',
                data: JSON.stringify(st),
                contentType: 'application/json',
                success: function (resp) {
                    alert(resp);
                    DisplayStudents();
                    ClearData();
                }
            })
        }
        function DeleteStudent() {
            var r = $("#txtid").val();
            $.ajax({
                url: '/StudentJson/DeleteStudent/' + r,
                method: 'get',
                contentType: 'application/json',
                success: function (resp) {
                    // console.log (resp);

                    alert(resp);
                    DisplayStudents();
                    ClearData();
                }
            })
        }

        function ViewStudent(r) {
            $.ajax({
                url: '/StudentJson/GetStudentById/' + r,
                method: 'get',
                contentType: 'application/json',
                success: function (resp) {
                   // console.log(resp);

                    $("#txtid").val(resp.id);
                    $("#txtname").val(resp.name);
                    $("#txteng").val(resp.english);
                    $("#txtmath").val(resp.math);

                    $("#btnupdate").show();
                    $("#btndelete").show();
                    $("#btnsubmit").hide();

                }
            })
        }

        function ClearData() {
            $("#txtid").val("");
            $("#txtname").val("");
            $("#txteng").val("");
            $("#txtmath").val("");
        }

    </script>
</head> 
<body>
    <div class="row">


        <div class="col-md-4">
            <table>
                <tr>
                    <td>ID</td>
                    <td>
                        <input type="text" id="txtid" />
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td> <input type="text" id="txtname" /></td>
                </tr>
                <tr>
                    <td>English</td>
                    <td> <input type="text" id="txteng" /></td>
                </tr>
                <tr>
                    <td>Math</td>
                    <td> <input type="text" id="txtmath" /></td>
                </tr>
                <tr>

                    <td colspan="2">
                    <input type="button" value="Submit" id="btnsubmit" />
                    <input type="button" value="Update" id="btnupdate" />
                    <input type="button" value="Delete" id="btndelete" />
                    </td>
                </tr>

            </table>

        </div>

        <div class="col-md-8">
            <div style="height:400px; overflow:scroll">

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>English</th>
                            <th>Math</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbldata">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
